* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

#userContent {
    display: none;
}

#content {
    width: 100%;
    padding: 10px;
}

.info {
    color: gray;
}

.pdesc {
    color: gray;
}

.pcat {
    color: gray;
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
}

.proy {
    margin-bottom: 15px;
    width: 100%;
}

.hoverable {
    cursor: pointer;
}

@media (min-width:521px) {
    #userContent {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #content {
        width: 80%;
    }

    #popularProyects {
        display: flex;
        flex-direction: row;
    }

    .card {
        width: 30%;
        margin: 5px;
    }

    #logo {
        display: inline;
    }

    #mobile-logo {
        display: none;
    }

}