* {
    box-sizing: border-box;
    background-color: #282b36;
    color: white;
    padding: 3px;
}

html {
    width: 100%;
    height: 100%;
    background-color: #282b36;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #282b36;
}

#registerBtn {
    text-decoration: underline;
    text-align: center;
}

#btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#loginBtn {
    width: 50%;
}


